@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  display: flex;
  flex-direction: column;
}

.hero{
  height: 95vh;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 5vh;
  background: turquoise;
}

.home_btn, .login_btn{
  padding: 4px 10px;
  background-color: green;
  color: white;
  border-radius: 20px;
}

.footer{
  justify-self: baseline;
  background: greenyellow;
}

.login{
  height: 95vh;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.form{
  background-color: cyan;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
  padding: 5rem;
}

.form_btn{
  padding: 4px 10px;
  background-color: green;
  color: white;
  border-radius: 20px;
}

.dashboard{
  height: 95vh;
}